#header {
    padding: 14px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.header-row {
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
}
#header.header-scrolled {
    background: rgba(34, 34, 34, 0.9);
    transition: all 0.5s;
}
#header #logo img {
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {

    #header #logo h1 {
        font-size:28px
    }
    #header #logo img {
        max-height: 40px
    }
}


@media (max-width: 673px) {
    #logo {
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {
    #nav-menu {
        padding-right: 60px;
    }
}
@media (max-width: 800px) {
    #nav-menu {
        display: none;
    }
}
@media (max-width: 768px) {
    #nav-menu {
        display: none;
    }
}


#nav-menu {
    margin: 0;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-list li {
    position: relative;
    white-space: nowrap;
}
.nav-list>li {
    margin-left: 10px;
}
.nav-list>li {
    float: left;
}
.nav-list a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
#nav-menu li {
    display: inline-block;
    float: left;
}

body.mobile-nav-active {
    overflow: hidden;
}
body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}
#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 16px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
}
@media (max-width: 800px) {
    #mobile-nav-toggle {
        display:inline
    }

    #nav-menu-container {
        display: none
    }
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0,0,0,0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700
}

#mobile-nav ul li a:hover {
    color: #fff
}

#mobile-nav ul li li {
    padding-left: 30px
}
#mobile-nav ul .menu-item-active {
    color: #f78f3d
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}


.lnr-cross:before {
    content: "\e870";
}
.lnr-menu:before {
    content: "\e871";
}
