* {
    box-sizing: border-box;
}
#header {
    padding: 14px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
#header #logo img {
    padding: 0;
    margin: 0;
}
#header-container {
    display: flex !important;
    justify-content: space-between;
}
.container {
    max-width: 1140px;
    min-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div {
    display: block;
}
.nav-menu {
    padding-right: 60px;
    margin-left: 10px;
}
.nav-menu a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;

}
.nav-menu li {
    display: inline-block;
    float: left;
}

